@include media-breakpoint-up(sm) {
  .border-sm-end {
    border-right: 1px solid #dee2e6;
  }
  .border-sm-none {
    border: none;
  }
}

@include media-breakpoint-up(md) {
  .border-md-end {
    border-right: 1px solid #dee2e6;
  }
  .border-md-none {
    border: none;
  }
}

.border-radius {
  border-radius: 4px;
}
.border-top-l {
  border-top: 2px solid #dee2e6;
}
