//hover
.link-hover-border {
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  transition: border-bottom 1s;
  text-decoration: none;
  &:hover {
    border-bottom: 2px solid $primary;
  }
}

.link-hover-color {
  background: $white;
  color: $primary;
  &:hover {
    background: $primary;
    color: $white;
  }
}
